body {
    background-color: rgb(1,31,75);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(179,205,224);
    margin-left: 80px;
}

.container {
    width: 700px;
    height: 700px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row-reverse;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.board {
    width: 500px;
    height: 500px;
    background-color: burlywood;
    display: grid;
    gap: 0;
    border: solid 1px;
    flex-shrink: 0;
}

.block {
    border: solid 0px;
    margin: 0;
    padding: 0;
    gap: 0;
}

.onMouseMove {
    background-color: red;
}


.button {
    border-radius: 100%;
    height: 80px;
    width: 80px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    margin: 1px;
    border: solid 1px black;
    transition: all 0.5s;
    border-radius: 100%;
    background-color: rgb(179,205,224);
    margin: 5px;
}

.functionButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changeSize {
    margin-left: 305px;
}

#colorPicker {
    height: 70px;
    width: 70px;
}

.translated {
    transform: scale(1.1);
    background-color: rgb(100,151,177);
}

.clicked {
    background-color: rgb(0,91,150);
}