body {
    background-color: rgb(73, 56, 41);
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(219, 202, 105);
    margin-left: 80px;
}

.container {
    width: 700px;
    height: 700px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row-reverse;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.board {
    width: 500px;
    height: 500px;
    background-color: burlywood;
    display: grid;
    gap: 0;
    border: solid 1px;
    flex-shrink: 0;
}

.block {
    border: solid 1px;
    margin: 0;
    padding: 0;
    gap: 0;
}

.onMouseMove {
    background-color: red;
}

#reset {
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background-color: rgb(219, 202, 105);
}

#black {
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background-color: rgb(219, 202, 105);
}

#color {
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background-color: rgb(219, 202, 105);
}

#rainbow {
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background-color: rgb(219, 202, 105);
}

#eraser {
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background-color: rgb(219, 202, 105);
}

.button {
    font-size: 14px;
    font-family:'Courier New', Courier, monospace;
    margin: 1px;
    border: solid 1px black;
}

.functionButtons {
    display: flex;
    flex-direction: column;
}

.changeSize {
    margin-left: 305px;
}